<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/style.css">
    <title>Home</title>
</head>

<body>
    <div class="top-padding"></div>
    <a href="/"><h1>Home</h1></a>
    <br>
    <h2>Use Instructions:</h2>
    <br>
    <div class="instructions">
        <p>
            To use the GenAI assistant, click below to navigate to the GenAI Assistant page.
            When you reach the page, a search bar will be available with the prompt "Ask anything".
        </p>
        <p>
            Click on the search bar, and ask anything! When you are ready for a response, click on the button below, 
            labeled "Generate Response". Your response will appear in the box labeled "GenAI Response".
        </p>
        <p>
            Remember to engage with the GenAI assistant in an ethical way, and remember that it is a tool, not magic.
            Keep prompting until you are out of questions.
        </p>
        <p>
            Enjoy!
        </p>
    </div>
    <br>
    <a href="/ai-assistant"><h3>Access the GenAI Assistant</h3></a>
</body>